:local(.BpmnEditor) {
  display: flex;
  flex: 1;

  flex-direction: row;

  .diagram {
    flex: 1;
    position: relative;

    > .bjs-container {
      a.bjs-powered-by {
        display: none;
        > img {
          display: none;
        }
      }
    }
  }

  .properties {
    flex: none;
  }

  /**
   * Fix properties tabbing
   */
  .bpp-properties-tabs-links > .bpp-active a {
    position: relative;

    &:before {
      content: '';
      z-index: 5;
      bottom: -2px;
      left: 0;
      right: 0;
      border-bottom: solid 3px #f8f8f8;
      position: absolute;
    }
  }

  .djs-minimap {

    .toggle:hover {
      color: rgb(255, 116, 0);
    }

    &:not(.open) .toggle:before {
      content: '\f278';
      font-family: 'app';
      font-size: 20px;
    }

    &.open {
      .toggle {
        padding: 3px 5px;
        margin-right: 4px;

        line-height: 24px;
        text-align: right;

        opacity: 0.5;
      }

      .toggle:before {
        content: '\e80a';
        font-family: 'app';
        font-size: 14px;
      }

      .toggle:hover {
        opacity: 1;
      }
    }
  }

}

:local(.Color) {
  border: solid 1px #444;
  margin: 4px;
  width: 64px;
  height: 16px;
}
