@import url(../../node_modules/bpmn-js/dist/assets/diagram-js.css);
@import url(../../node_modules/bpmn-js/dist/assets/bpmn-font/css/bpmn.css);
@import url(../../node_modules/bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css);
#bpmn-diagram {
  width: 100%;
  height: 100%; }
  #bpmn-diagram #properties-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 260px;
    z-index: 10;
    border-left: 1px solid #ccc;
    overflow: auto; }
    #bpmn-diagram #properties-panel:empty {
      display: none; }
    #bpmn-diagram #properties-panel > .djs-properties-panel {
      padding-bottom: 70px;
      min-height: 100%; }

@font-face {
  #bpmn-diagram {
    font-family: "app";
    src: url("/assets/font/app.eot"), url("/assets/font/app.woff") format("woff"), url("/assets/font/app.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; } }
  #bpmn-diagram [class^="icon-"]:before,
  #bpmn-diagram [class*=" icon-"]:before {
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em; }
  #bpmn-diagram [class^="icon-"]:before,
  #bpmn-diagram [class*=" icon-"]:before {
    font-family: "app"; }
  #bpmn-diagram .icon-bpmn-io-logo:before {
    content: "\e800"; }
  #bpmn-diagram .icon-loading:before {
    content: "\f415"; }
  #bpmn-diagram .icon-picture:before {
    content: "\f416"; }
  #bpmn-diagram .icon-plus:before {
    content: "\f417"; }
  #bpmn-diagram .icon-plus-circled:before {
    content: "\f418"; }
  #bpmn-diagram .icon-minus:before {
    content: "\f419"; }
  #bpmn-diagram .icon-info:before {
    content: "\f41a"; }
  #bpmn-diagram .icon-download:before {
    content: "\f41b"; }
  #bpmn-diagram .icon-undo:before {
    content: "\f41c"; }
  #bpmn-diagram .icon-redo:before {
    content: "\f41d"; }
  #bpmn-diagram .icon-open:before {
    content: "\f41e"; }
  #bpmn-diagram .icon-size-reset:before {
    content: "\f41f"; }
  #bpmn-diagram .icon-comment:before {
    content: "\f420"; }
  #bpmn-diagram .icon-keyboard:before {
    content: "\f423"; }
  #bpmn-diagram .icon-resize-full:before {
    content: "\f425"; }
  #bpmn-diagram .icon-resize-small:before {
    content: "\f426"; }
  #bpmn-diagram .animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes spin {
  #bpmn-diagram 0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  #bpmn-diagram 100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
  #bpmn-diagram .project-logo,
  #bpmn-diagram .project-logo a {
    color: #52b415 !important; }
  #bpmn-diagram .content,
  #bpmn-diagram .content > div {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  #bpmn-diagram .content > .screen {
    text-align: center;
    display: table;
    font-size: 16px; }
  #bpmn-diagram .content > .screen .note {
    vertical-align: middle;
    text-align: center;
    display: table-cell; }
  #bpmn-diagram .content .error .details {
    max-width: 500px;
    font-size: 12px;
    margin: 20px auto;
    text-align: left;
    color: #bd2828; }
  #bpmn-diagram .content .error .error-log {
    border: solid 1px #bd2828;
    background: #fdf6f6;
    color: #bd2828; }
  #bpmn-diagram .content .error .error-log:hover {
    background: #fefafa; }
  #bpmn-diagram body:not(.error) .screen.error,
  #bpmn-diagram body:not(.intro) .screen.intro,
  #bpmn-diagram body:not(.loading) .screen.loading {
    display: none; }
  #bpmn-diagram .screen .project-logo {
    font-size: 120px; }
  #bpmn-diagram .canvas {
    display: block; }
  #bpmn-diagram body.shown .canvas,
  #bpmn-diagram body.loaded .canvas {
    display: block; }
  #bpmn-diagram body.loaded .canvas svg {
    visibility: hidden; }
  #bpmn-diagram body:not(.shown) .io-export,
  #bpmn-diagram body:not(.shown) .io-zoom-controls {
    display: none; }
  #bpmn-diagram .samples,
  #bpmn-diagram .message {
    max-width: 700px;
    margin: auto; }
  @media (max-width: 720px) {
    #bpmn-diagram .samples,
    #bpmn-diagram .message {
      margin: 20px; }
    #bpmn-diagram .samples {
      margin-bottom: 60px; } }
  #bpmn-diagram .message {
    padding: 40px;
    font-size: 20px; }
  #bpmn-diagram .samples {
    margin-top: 80px;
    margin-bottom: 60px;
    opacity: 0.4;
    transition: ease-in 0.1s; }
  #bpmn-diagram .samples:hover {
    opacity: 1; }
  #bpmn-diagram .samples .sample {
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    vertical-align: top;
    position: relative; }
  #bpmn-diagram .samples .tryit {
    position: absolute;
    right: 0;
    top: 0;
    width: auto; }
  #bpmn-diagram .samples .caption {
    font-size: 11px;
    color: #999; }
  #bpmn-diagram .samples .img {
    border-radius: 5px;
    box-shadow: inset 0 0 4px #999;
    padding: 5px;
    width: 100%; }
  #bpmn-diagram .samples .sample > a {
    display: block; }
  #bpmn-diagram .bjs-powered-by,
  #bpmn-diagram .cjs-powered-by,
  #bpmn-diagram .io-control {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 5px; }
  #bpmn-diagram .cjs-powered-by,
  #bpmn-diagram .bjs-powered-by {
    padding-bottom: 2px; }
  #bpmn-diagram .close {
    font-size: 21px;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    line-height: 1;
    vertical-align: middle;
    margin-left: 5px; }
  #bpmn-diagram .close:hover {
    opacity: 1; }
  #bpmn-diagram .vr {
    height: 18px;
    display: inline-block;
    border-right: solid 1px #ccc; }
  #bpmn-diagram a:link {
    text-decoration: none; }
  #bpmn-diagram .io-control-list {
    list-style: none;
    padding: 5px;
    margin: 0; }
  #bpmn-diagram .io-control-list a,
  #bpmn-diagram .io-control-list a:visited,
  #bpmn-diagram .io-control-list button {
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    background: none;
    border: none; }
  #bpmn-diagram .io-control-list a:hover,
  #bpmn-diagram .io-control-list a:visited:hover,
  #bpmn-diagram .io-control-list button:hover {
    color: #333333; }
  #bpmn-diagram .io-control-list a.inactive,
  #bpmn-diagram .io-control-list a:visited.inactive,
  #bpmn-diagram .io-control-list button.inactive {
    color: #e0e0e0;
    cursor: default; }
  #bpmn-diagram .io-control-list.io-horizontal,
  #bpmn-diagram .io-control-list.io-horizontal li {
    display: inline-block; }
  #bpmn-diagram .io-control-list.io-horizontal a {
    padding: 2px;
    margin: 0 5px; }
  #bpmn-diagram .io-control-list.io-horizontal button {
    margin: 0 5px; }
  #bpmn-diagram .io-control hr {
    border: none;
    border-top: solid 1px #eee; }
  #bpmn-diagram .io-help,
  #bpmn-diagram .io-legal {
    position: fixed;
    transition: ease-in 0.1s; }
  #bpmn-diagram .io-legal {
    right: 100px; }
  #bpmn-diagram .io-help {
    right: 20px; }
  #bpmn-diagram body.shown .io-legal {
    right: 165px; }
  #bpmn-diagram body.shown .io-help {
    right: 85px; }
  #bpmn-diagram .io-legal a {
    font-size: 14px;
    line-height: 30px; }
  #bpmn-diagram .io-help button:hover,
  #bpmn-diagram .io-help a:hover,
  #bpmn-diagram .io-legal a:hover {
    background: #f0f0f0;
    border-radius: 2px; }
  #bpmn-diagram .io-import-export {
    position: fixed;
    left: 20px; }
  #bpmn-diagram .io-help,
  #bpmn-diagram .io-legal,
  #bpmn-diagram .io-import-export {
    bottom: 25px; }
  #bpmn-diagram .io-import {
    margin-right: 10px; }
  #bpmn-diagram .io-zoom-controls {
    width: auto;
    position: fixed;
    right: 15px;
    bottom: 90px; }
  #bpmn-diagram .io-editing-tools {
    width: auto;
    position: fixed;
    right: 15px;
    top: 20px;
    display: none; }
  #bpmn-diagram .io-view-mode-tools {
    width: auto;
    position: fixed;
    left: 15px;
    top: 20px;
    display: none; }
  #bpmn-diagram .io-editing-tools .io-control {
    margin-left: 10px; }
  #bpmn-diagram .io-editing-tools .io-control button {
    margin: 0; }
  #bpmn-diagram .io-zoom-reset {
    margin-bottom: 10px; }
  #bpmn-diagram .io-import-export .inactive {
    opacity: 0.3; }
  #bpmn-diagram .import-warnings .error-log {
    width: 100%; }
  #bpmn-diagram .hidden {
    display: none; }
  #bpmn-diagram .io-alerts {
    position: fixed;
    top: 20px;
    width: 450px;
    text-align: center;
    left: 50%;
    margin-left: -225px; }
  #bpmn-diagram .io-alerts .alert {
    display: none;
    background: #ffffdb;
    padding: 10px 20px;
    line-height: 20px;
    margin: 0 auto 10px; }
  #bpmn-diagram .io-alerts .alert.open {
    display: inline-block; }
  #bpmn-diagram .io-alerts .close {
    float: right; }
  #bpmn-diagram .io-toggle-fullscreen {
    display: none; }
  #bpmn-diagram .io-toggle-fullscreen.open {
    display: inline-block; }
  @media (max-width: 500px) {
    #bpmn-diagram .io-alerts {
      width: 100%;
      text-align: center;
      left: 0;
      margin: 0; } }
  #bpmn-diagram .io-dialog {
    display: none; }
  #bpmn-diagram .io-dialog.open {
    display: block; }
  #bpmn-diagram .io-dialog.open:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #666;
    opacity: 0.2;
    z-index: 1001; }
  #bpmn-diagram .io-dialog .content {
    position: fixed;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 100px;
    background: white;
    padding: 10px 30px 20px 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    height: auto;
    z-index: 1001; }
  #bpmn-diagram .io-dialog .project-logo {
    position: absolute;
    bottom: 27px;
    right: 27px;
    width: 54px;
    height: 54px;
    font-size: 48px; }
  #bpmn-diagram .keybindings-dialog .content {
    width: 450px;
    margin-left: -225px; }
  #bpmn-diagram .keybindings-dialog .binding {
    padding: 5px 10px;
    font-family: monospace; }
  #bpmn-diagram textarea.error-log {
    border: solid 1px #ccc;
    background: #f6f6f6;
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    min-height: 150px;
    display: block; }
  #bpmn-diagram textarea.error-log:hover {
    background: #f9f9f9; }
  @media (max-width: 600px) {
    #bpmn-diagram .io-dialog .content {
      left: 20px;
      right: 20px;
      top: 20px;
      width: auto;
      margin: 0; } }
  #bpmn-diagram :full-screen .icon-resize:before {
    content: "\e86e"; }
  #bpmn-diagram :-moz-full-screen .icon-resize:before {
    content: "\e86e"; }
  #bpmn-diagram :-ms-full-screen .icon-resize:before {
    content: "\e86e"; }
  #bpmn-diagram :-webkit-full-screen .icon-resize:before {
    content: "\e86e"; }
  #bpmn-diagram .icon-resize:before {
    content: "\e86d"; }
  #bpmn-diagram .icon-resize:before {
    content: "\e86d"; }
  #bpmn-diagram .icon-resize:before {
    content: "\e86d"; }
  #bpmn-diagram .icon-resize:before {
    content: "\e86d"; }
