#bpmn-diagram .bjs-powered-by {
  display: none;
}

ul, li {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #36B37E;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  color: #333;
  width: 100%;
  height: 100%;
}

#root {
  .page-layout {
    height: 100%;

    .main-content {
      height: 100%;
      overflow-y: auto;
      width: 100%;
      background-color: #f7f7f7;
    }
  }
}

.workflow-container {
  padding: 2.5rem 0 0 0;
  height: 100%;
  width: 100%;
}

.drawer-content {
  padding-right: 24px;
  height: 100%;
  width: 100%;
}

.document-picker {
  padding: 0 8px;
}

.master-list {
  height: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
  display: flex;

  > .list-wrapper {
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #DEDEDF;
    padding: 0 !important;
    flex-direction: column;

    .ui.placeholder {
      margin: 1em;
    }

    .ui.secondary.segment {
        border-left: none;
        border-right: none;
    }

    .ui.list {
      margin: 0;
    }

    .list-item {
      padding: 0.75em 0.5em !important;
    }

  }

  > .detail-wrapper {
    width: 70%;
    height: 100%;
    padding: 1.5em;
  }
}
